In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker, declarative_base

# Database connection details
server = 'localhost\\SQLEXPRESS'
database = 'master'
driver = 'ODBC Driver 17 for SQL Server'  # Ensure this driver is installed

# SQLAlchemy connection string
conn_str = f'mssql+pyodbc://@{server}/{database}?driver={driver}&trusted_connection=yes'

# Create the database engine
engine = create_engine(conn_str, echo=True)

# Define Base for ORM
Base = declarative_base()

# Define the Table Model
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(50), nullable=False)
    age = Column(Integer, nullable=False)

# Create Table (if not exists)
Base.metadata.create_all(engine)

# Create a Session
Session = sessionmaker(bind=engine)
session = Session()

2025-02-19 20:26:44,915 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2025-02-19 20:26:44,915 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-19 20:26:44,921 INFO sqlalchemy.engine.Engine SELECT schema_name()
2025-02-19 20:26:44,922 INFO sqlalchemy.engine.Engine [generated in 0.00090s] ()
2025-02-19 20:26:44,943 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2025-02-19 20:26:44,944 INFO sqlalchemy.engine.Engine [generated in 0.00117s] ()
2025-02-19 20:26:44,949 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2025-02-19 20:26:44,950 INFO sqlalchemy.engine.Engine [generated in 0.00122s] ()
2025-02-19 20:26:45,043 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-19 20:26:45,051 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2025-02-19 20:26:45,052 INFO sqlalchemy.engine.Engine [generated in 0.00130s] ('BASE TABLE', 'VIEW', 'users', 'dbo')
2025-02-19 20:26:45,067 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL IDENTITY,
	name VARCHAR(50) NOT NULL,
	age INTEGER NOT NULL,
	PRIMARY KEY (id)
)


2025-02-19 20:26:45,068 INFO sqlalchemy.engine.Engine [no key 0.00124s] ()
2025-02-19 20:26:45,071 INFO sqlalchemy.engine.Engine COMMIT

In [2]:
def insert_user(name, age):
    new_user = User(name=name, age=age)
    session.add(new_user)
    session.commit()
    print(f"User {name} inserted successfully!")

# Example Usage
insert_user("Alice", 25)
insert_user("Bob", 30)

2025-02-19 20:27:10,554 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-19 20:27:10,556 INFO sqlalchemy.engine.Engine INSERT INTO users (name, age) OUTPUT inserted.id VALUES (?, ?)
2025-02-19 20:27:10,558 INFO sqlalchemy.engine.Engine [generated in 0.00120s] ('Alice', 25)
2025-02-19 20:27:10,563 INFO sqlalchemy.engine.Engine COMMIT
User Alice inserted successfully!
2025-02-19 20:27:10,565 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-19 20:27:10,565 INFO sqlalchemy.engine.Engine INSERT INTO users (name, age) OUTPUT inserted.id VALUES (?, ?)
2025-02-19 20:27:10,567 INFO sqlalchemy.engine.Engine [cached since 0.01049s ago] ('Bob', 30)
2025-02-19 20:27:10,570 INFO sqlalchemy.engine.Engine COMMIT
User Bob inserted successfully!